/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

html {
  width: 100%;
  text-align: center;
  background-color: #EEEEEE;
  color: #111111;
  font-family: 'Roboto';
  margin: 0px;
  padding-bottom: 10%;
}

body {
  width: 100%;
  text-align: center;
  margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
  text-align: center;
}

.card {
    background-color: #EEEEEE;
    color: #111111;
    border: 1px solid #FFFFFF20;
    border-radius: 10px;
    padding: 15px;

    box-shadow: -6px -6px 16px #FFFFFF80,
                6px 6px 16px #DDDDDD80;
}

.primary-content-card {
    width: 33%;
    margin: auto;
    text-align: left;
    background-color: #EEEEEE;
    color: #111111;
    border: 1px solid #FFFFFF20;
    border-radius: 10px;
    padding: 15px;

    box-shadow: -6px -6px 16px #FFFFFF80,
                6px 6px 16px #DDDDDD80;
}

.calendar-content-card {
    width: 80%;
    margin: auto;
    text-align: left;
    color: #111111;
    padding: 15px;
}

#additional-components {
    margin-top: 25px;
}

#viewfindrecipe {
    display: none;
}

input[type="text"], textarea {
    font-family: 'Roboto';
    margin-top: 5px;
    padding: 5px;
    padding-left: 2.5%;
    border: 1px solid #FFFFFF20;
    background-color: #EEEEEE;
    border-radius: 10px;
    box-shadow: -6px -6px 6px #FFFFFF80 inset,
                6px 6px 6px #DDDDDD80 inset;
}

select {
    margin-top: 5px;
    padding: 5px;
    padding-left: 2.5%;
    border: 1px solid #FFFFFF20;
    background-color: #EEEEEE;
    border-radius: 10px;
    box-shadow: -6px -6px 6px #FFFFFF80 inset,
                6px 6px 6px #DDDDDD80 inset;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

form label {
  font-weight: bold;
}

.light-button, .dark-button:active {
    padding: 10px;
    border: 1px solid #FFFFFF20;
    background-color: #EEEEEE;
    color: #111111;
    border-radius: 10px;
    box-shadow: -6px -6px 6px #FFFFFF80,
                6px 6px 6px #DDDDDD80;
}

.light-button-circle {
    display: inline-block;
    width: 1em;
    height: 1.1em;
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    border: 1px solid #FFFFFF20;
    background-color: #EEEEEE;
    border-radius: 4rem;
    box-shadow: -6px -6px 6px #FFFFFF80,
                6px 6px 6px #DDDDDD80;
}

.dark-button-circle, .light-button-circle:hover {
    display: inline-block;
    width: 1em;
    height: 1.1em;
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    border: 1px solid #FFFFFF20;
    background-color: #333333;
    color: #EEEEEE;
    border-radius: 4rem;
    box-shadow: -6px -6px 6px #11111180 inset,
                6px 6px 6px #55555580 inset;
}

.circle-button {
    margin-left: 5px;
    padding: 5px;
    width: 2em;
    height: 2em;
    border: 1px solid #FFFFFF20;
    border-radius: 50%;
    box-shadow: -6px -6px 6px #FFFFFF80,
                6px 6px 6px #DDDDDD80;
}

.dark-button, .light-button:active {
    padding: 10px;
    border: 1px solid #FFFFFF20;
    background-color: #333333;
    color: #EEEEEE;
    border-radius: 10px;
    box-shadow: -6px -6px 6px #11111180 inset,
                6px 6px 6px #55555580 inset;
}

.toggle-button-inactive {
    margin: 5px;
    padding: 10px;
    border: 1px solid #FFFFFF20;
    border-radius: 5px;
    background-color: #EEEEEE;
    color: #111111;
    box-shadow: -6px -6px 6px #FFFFFF80,
                6px 6px 6px #DDDDDD80;

}

.toggle-button-active, {
    margin: 5px;
    padding: 10px;
    border: 1px solid #FFFFFF20;
    border-radius: 5px;
    background-color: #449944;
    color: #EEEEEE;
    box-shadow: -6px -6px 6px #11661180 inset,
                6px 6px 6px #66CC6680 inset;
}

.toggle-button:hover, .light-button:hover, .dark-button:hover, .circle-button:hover, .light-button-circle:hover {
    cursor: pointer;
}

.autocomplete-container {
    width: 70%;
    margin-left: auto;
    padding: 5%;
    padding-top: 2.5%;
    margin-right:auto;
    border: 1px solid #FFFFFF20;
    border-radius: 10px;

    box-shadow: -6px -6px 16px #FFFFFF80,
                6px 6px 16px #DDDDDD80;
}

.top-image-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-collapse: separate;
    border-spacing: 25px 0px;
}

.top-image-container tr {
    margin: 0px;
    padding: 0px;
}

.editor-pick {
    width: 30%;
    margin: 2.5%;
    vertical-align: top;
}

.editor-picks-headline {
    text-align: center;
    width: 70%;
    margin-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 95%;
    /*max-width: 95%;*/
    object-fit: cover;
    border-radius: 10px;
}

img.code {
    width: 75%;
    object-fit: fill;
    border-radius: 0px;
}

.autocomplete {
    width: 95%;
    padding: 15px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #EEEEEE;
    color: #111111;
    border: 1px solid #FFFFFF20;
    border-radius: 10px;
    box-shadow: -6px -6px 16px #FFFFFF80 inset,
                6px 6px 16px #DDDDDD80 inset;
}

.autocomplete:active, .autocomplete:focus {
    border: 1px solid #FFFFFF20;
    outline: none;
}

.autocomplete-suggestion {
    width: 95%;
    padding: 15px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: left;
    /* border: 1px solid #333333; */
    /*box-shadow: -6px -6px 16px #FFFFFF80,
                6px 6px 16px #DDDDDD80;*/
}

.autocomplete-suggestion:hover {
    cursor: pointer;
}

.autocomplete-suggestions-container {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    background-color: #EEEEEE;
    color: #111111;
    border-radius: 10px;
    box-shadow: -6px -6px 16px #FFFFFF80,
                6px 6px 16px #DDDDDD80;
}

.left-calendar-float {
    width: 50%;
    margin: 0px;
    float: left;
}

.right-calendar-float {
    width: 50%;
    margin: 0px;
    float: left;
}

.left {
  text-align: left;
  width: 30%;
  margin: auto;
}

.spaced {
    margin: 5px;
}

.slow {
  transition: color 0.5s;
}

.full {
    width: 95%;
}

.fullest {
    width: 100%;
}

.strikethrough {
    text-decoration: line-through;
    color: #666666;
}

.clickable:hover {
    cursor: pointer;
}

.spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.right-menu-icons
{
    width: 49%;
    float: left;
    margin: none;
    text-align: right;
    font-size: 1em;
    padding-right: 1%;
    padding-top: 0px;
    padding-bottom: 10px;
}

.left-menu-icons
{
    width: 49%;
    margin: none;
    float: left;
    text-align: left;
    font-size: 1em;
    padding-left: 1%;
    padding-top: 0px;
    padding-bottom: 10px;
}

.slot {
    border-bottom: 1px solid #111111;
    padding: 20px;
}
