@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  width: 100%;
  text-align: center;
  background-color: #222222;
  color: whitesmoke;
  font-family: 'Roboto';
  margin: 0px;
}

body {
  width: 100%;
  text-align: center;
  margin: 0px;
}

h1 {
  text-align: center;
}

#intro {
  text-align: center;
}

#grocerylist {
  width:30%;
  margin:auto;
  text-align:left;
  background-color: whitesmoke;
  color: #222222;
  border-radius: 10px;
  padding: 15px;
}

form input[type=text] {
  border-radius: 2px;
}

form label {
  font-weight: bold;
}

.clickable:hover {
  color: #005555;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #005555;
  transition: color 0.5s;
}

a:hover {
  color: whitesmoke;
}

.left {
  text-align: left;
  width: 30%;
  margin: auto;
}

.slow {
  transition: color 0.5s;
}

#menuicons
{
    width: 49%;
    float: left;
    margin: none;
    text-align: right;
    font-size: 3em;
    padding-right: 1%;
    padding-top: 0px;
    padding-bottom: 10px;
}

#leftmenuicons
{
    width: 49%;
    margin: none;
    float: left;
    text-align: left;
    font-size: 3em;
    padding-left: 1%;
    padding-top: 0px;
    padding-bottom: 10px;
}

#autocomplete-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#autocomplete
{
    width: 100%;
    padding: 15px;
}

.autocomplete-suggestion
{
    width: auto;
    padding: 15px;
    text-align: left;
    border: 1px solid #333333;
}

.autocomplete-suggestion:hover
{
    cursor: pointer;
}
